.modal {
    background: #c6d0ff7a;
}
.is-invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    color: #dc3545;
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
}
.was-validated .form-control:invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-feedback {
    display: block;
}
